@import "./variables.scss";
@import url("https://fonts.googleapis.com/css?family=Oxygen|Poiret+One");

#app {
  font-family: "Oxygen", sans-serif;
  color: $primary;
}

h1 {
  font-size: 144px !important;
  font-family: "Poiret One", sans-serif !important;
  color: $primary;

  @media (max-width: $screen-sm) {
    font-size: 100px !important;
  }

  @media (max-width: $screen-xs) {
    font-size: 72px !important;
  }
}

.btn {
  width: 100%;
  border: $border solid $black;
  border-radius: 4px;

  font-size: 20px;
  line-height: 24px;

  &.btn-primary {
    color: $black;
    background: $white;

    &:hover {
      color: $white;
      background: $primary;
    }

    &:disabled {
      color: #adaaaa;
      background-color: rgba(161, 157, 101, 0.3);
    }

    &:enabled {
      &:hover {
        color: $white;
        background: $primary;
      }
    }

    &.active {
      color: $black;
      background-color: $primary;
    }

    &.any-class-here {
      color: $black;
      background-color: $primary;
    }
  }
}
