@import "./variables.scss";

#app {
  font-family: "Oxygen", sans-serif;
  color: $primary;
}

h1 {
  font-size: 144px !important;
  font-family: "Poiret One", sans-serif !important;
  color: $primary;

  @media (max-width: $screen-sm) {
    font-size: 100px !important;
  }

  @media (max-width: $screen-xs) {
    font-size: 72px !important;
  }
}

h2 {
  font-size: 72px !important;
  font-family: "Poiret One", sans-serif !important;
  letter-spacing: 20px;

  @media (max-width: $screen-sm) {
    font-size: 60px !important;
    letter-spacing: 16px;
  }

  @media (max-width: $screen-xs) {
    font-size: 36px !important;
    letter-spacing: 8px;
  }
}

h3 {
  font-size: 32px !important;
  font-weight: bold !important;
  color: $secondary !important;

  @media (max-width: $screen-sm) {
    font-size: 28px !important;
  }

  @media (max-width: $screen-xs) {
    font-size: 22px !important;
  }
}

.btn {
  width: 100%;
  border: 0px !important;

  &.btn-primary {
    color: $primary !important;
    background: $background-highlight;
    box-shadow: 0 0 0 0 !important;

    &:hover,
    &:focus,
    &:active {
      background: $secondary !important;
    }
  }
}
